{% extends "base.html" %}

{% block content %}


    <br/>
    <div class="container">
      <div class="jumbotron">
        <p class="lead"><strong>Password Reset</strong></p>
        <hr class="my-4">
        {% if smessage %}
          <div class="alert alert-success">
            {{ smessage }}
          </div>
        {% endif %}
        {% if umessage %}
          <div class="alert alert-danger">
            {{ umessage }}
          </div>
        {% endif %}
        <form action="/forgot_password" method="post">
            <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="name"  placeholder="Enter email">
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
            <p>Have an account? <a href="/index">Login</a>.</p>
            <p>Create an account? <a href="/create_account">Sign-up</a>.</p>
            
        </form>
     </div>
     </div>

{% endblock %}
